.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.mt-4 {
  margin-top: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.free-delivery {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f6c90e;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right-0 {
  right: 0;
}

.right-4 {
  right: 1rem;
}

.right-6 {
  right: 1.5rem;
}

.text-grey {
  color: #999;
}
